body {
  height: auto;
  width: 100%;
  background-image: url(../images/Background.jpg);
}
.navbar {
  background: rgba(0,0,0,0.6)
}

.container1 {
  height: 60vh;
}

.navbar-brand {
  margin-left: 12%;
}

.nav-item {
  margin-left: 100px;
}

.pizza-text {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align:center;
  padding: 20px;
  margin: 10px;
  border: 1px;
  top: 36%;
  left: 25%;
  width: auto;
  bottom:auto;
}

.hide {
  display: none;
}

.make-order-details {
  background-color: rgba(31,34,41);
  color: white;
  width: 76%;
  position: relative;
  left: 12%;
}
.btn {
  background-color: rgba(254,87,18,1);
  margin-top: 8px;
}

.col-7 {
  position: relative;
  right: 2.5%;
}

#contact-us {
  background-image: url(../images/logo.jpg);
  background-size: cover;
  width: 100%;
  height: auto;
}
#name {
  position: relative;
  left: -110%;
}
#email {
  position: relative;
  right: -370%;
}
.submit-button {
  position: relative;
  left: 45%;
}
.footer {
  background-image: url(../images/Background.jpg);
  background-size: contain;
  width: 100%;
  height: auto;
  color: white;
}
.fa-brands {
  margin: 20px;
}
