body {
  height: auto;
  width: 100%;
  background-image: url(../images/Background.jpg);
  font-family: 'Arima Madurai', cursive;
}

.navbar {
  background: rgba(0,0,0,0.6)
}

.navbar-brand {
  color: white;
  font-size: 5vw;
  margin-left: 2%;
}

ngb-carousel:focus {
    outline: none;
}

.nav-item {
  margin-left: 100px;
}

.pizza-text {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align:center;
  padding: 20px;
  margin: 10px;
  border: 1px;
  top: 36%;
  left: 25%;
  width: auto;
  bottom:auto;
}

.hide {
  display: none;
}

.make-order-details {
  background-color: rgba(31,34,41);
  color: white;
  width: 76%;
  position: relative;
  left: 12%;
}
.btn {
  background-color: rgba(254,87,18,1);
  margin-top: 8px;
}

#table {
  color: white;
}

.col-7 {
  position: relative;
  right: 2.5%;
}

#contact-us {
  background-image: url(../images/logo.jpg);
  background-size: cover;
  color: black;
  width: 100%;
  height: auto;
}
#name {
  position: relative;
  width: 75%;
}
#email {
  position: relative;
  width: 100%;
  left: -5%;
}
#submit-button {
  position: relative;
  left: 5%;
}
.footer {
  background-image: url(../images/Background.jpg);
  background-size: contain;
  width: 100%;
  height: auto;
  color: white;
}
.fa-brands {
  margin: 20px;
}
